spring:
    datasource:
        url: ${DB_URL}
        username: ${DB_NAME}
        password: ${DB_PASSWORD}
    
    jpa:
        show-sql: false

logging:
    level:
        root: ERROR #chỉ log các lỗi nghiêm trọng